<h3>{{ titleGaleria }}</h3>
<ng-container *ngIf="photosGaleria.length > 0">
  <div class="carousel carousel-slider" id="crphotos">
    <a
      class="carousel-item"
      href="#{{ i }}!"
      *ngFor="let item of photosGaleria; let i = index"
    >
      <img src="{{ item }}" />
    </a>
  </div>
  <div class="spaces">
    <div class="spaces-btn">
      <a (click)="FirstPhoto()" [class]="styleButtonFirstPrevious"
        ><i class="material-icons center">skip_previous</i>
      </a>
    </div>
    <div class="spaces-btn">
      <a (click)="PreviousPhoto()" [class]="styleButtonFirstPrevious"
        ><i class="material-icons center">arrow_left</i></a
      >
    </div>
    <div class="spaces-btn">
      <a (click)="NextPhoto()" [class]="styleButtonNextLast">
        <i class="material-icons center">arrow_right</i>
      </a>
    </div>
    <div class="spaces-btn">
      <a (click)="LastPhoto()" [class]="styleButtonNextLast">
        <i class="material-icons center">skip_next</i>
      </a>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="photosGaleria?.length === 0">
  <h5>{{ AnyPhoto }}</h5>
</ng-container>
