<mat-toolbar color="primary">
  <span>Criar Novo Contato</span>
</mat-toolbar>
<form [formGroup]="contactForm" (ngSubmit)="createContact()" class="form">
  <mat-form-field appearance="standard">
    <mat-label>Contato</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Telefone</mat-label>
    <input matInput type="tel" formControlName="phone" />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <div class="actions">
    <a routerLink="/" mat-raised-button>Cancelar</a>
    <button
      [disabled]="contactForm.invalid"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Salvar
    </button>
  </div>
</form>
