body {
  max-width: 120rem;
}
.options {
  display: flex;
  flex-direction: column;
}

.options-items {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.option-language {
  padding: 10px;
}

.options-conditional {
  display: flex;
  margin-left: auto;
  order: 2;
}

.option-conditional {
  padding: 10px;
  font-weight: bold;
}

.picture {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 1px;
  border-radius: 50%;
}

.imagem-language {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  margin-left: 2px;
}

.devs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imagens {
  display: flex;
  flex-direction: row;
}

.dev-card {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.data {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Loading */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* Loading */
